//THEME
$primary_color: hsl(0, 0%, 0%);

$body_background: hsl(45, 14%, 95%);
$componentsBackground: hsl(0, 0%, 100%);
$btnText: hsl(210, 57%, 97%);
$button_background: hsl(210, 90%, 40%);
$button_hover: hsl(210, 90%, 20%);
$background_transparent: hsla(0, 0%, 100%, 0.4);
$font_placeholder: hsl(0, 0%, 50%);
